{% extends 'base.html' %}

{% block content %}
<div class="card my-4">
  <h1>{{ post.title }}</h1>

    {% if post.photo %}
      <p><img class="img-article-left" src="{{post.photo.url}}"></p>
    {% endif %}

  <p>{{post.content|linebreaks}}</p>
    <div class="add--comment">{% include 'includes/comment_form.html' %}</div>
    <div class="card-header">
      {% for comment in comments %}
        <p class="info">
            Коментарий {{ forloop.counter }} от {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
      {% empty %}
        <p>Пока нет коментариев.</p>
      {% endfor %}
    </div>
</div> 
{% endblock %}