{% extends 'base.html' %}

{% block content %}
<div class="card my-4">
    <div class="card-body">
    <h1>{{ post.title }}</h1>

      {% if post.photo %}
        <p><img class="img-article-left" src="{{post.photo.url}}"></p>
      {% endif %}

    <p>{{post.content|linebreaks}}</p>
    </div>
  {% if user.is_authenticated %}
  {% include 'includes/comment_form.html' %}
  {% else %}
    <h4 class="card-body">Зарегистрируйтесь чтобы оставить коментарий !</h4>
  {% endif %}
  <div class="card-body">
    {% for comment in comments %}
      <h5 class="mt-0">
        <div class="my-image">
          <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
        </div>
        {{ comment.author.username }}
         {{ comment.created }}
      </h5>
      {{ comment.body|linebreaks }}
      {% empty %}
      <p>Пока нет коментариев.</p>
    {% endfor %}
  </div>
  
</div> 
{% endblock %}