{% extends 'base.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>

<style>
    .image-thumbail {
        height: 200px;
        width: 300px;
        object-fit: cover;

    }
    .list-group-item a {
        text-decoration: none;
        color: black;
    }
</style>

    {% if request.user.is_superuser %}
        <p align="right">
            <a href="{% url 'backend:gallery_edit' %}" class="btn btn-dark btn-block btn-sm m-1">Редактировать</a>
        </p>
    {% endif %}



<body class="">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% if request.user.is_authenticated %}
                    <p>Привет {{request.user.username}}!</p>
                {% endif %}

                <div class="card">
                    <div class="card-header" style="display: flex; justify-content: space-between;">
                        Фотоальбомы

                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'backend:gallery' %}">Все фото</a>
                        </li>

                        {% for category in categories %}
                        <li class=" list-group-item">
                            <a href="{% url 'backend:gallery' %}?category={{category.name}}">
                              <div style="display: flex; justify-content: space-between;">
                            {{category.name}}
                            </div>
                            </a>

                        {% endfor %}

                    </ul>
                </div>
                        {% if request.user.is_superuser %}
                            <a href="{% url 'backend:add' %}" class="btn btn-dark btn-block btn-sm m-1">Добавить фото</a>
                        {% endif %}


            </div>
    <div class="col-md-9">
        <div class="row">

            {% for photo in page_obj %}
            <div class="col-md-4">
                <div class="card my-2">
                  <a href="{{ photo.image.url }}" data-fancybox="gallery">
                        <img class="image-thumbail" src="{{photo.image.url}}" alt="Card image cap" >
                    </a>

                </div>
            </div>

            {% empty %}
            <h3>No photos...</h3>
            {% endfor %}

        </div>
    </div>
        </div>
    </div>

</body>
{% include 'includes/paginator.html' %}
{% endblock %}
