{% extends 'base.html' %}

{% block content %}


{% if user.is_staff %}
    <p style="text-align: right;">
        <a href="{% url 'backend:add_news' %}">
            <button type="submit" class="btn btn-dark btn-block btn-sm m-1">Добавить новость</button>
        </a>
    </p>
{% endif %}

{% if messages %}
    {% for message in messages %}
        <p style="text-align: right;">{{ message }}
            <a href="{% url 'backend:shedule' %}">
                <button type="submit" class="btn btn-dark btn-block btn-sm m-1">Открыть расписание</button>
            </a>
        </p>
    {% endfor %}
{% else %}
    <p style="text-align: right;">{{ user.username }} Добро пожаловать!
        <a href="{% url 'backend:shedule' %}">
            <button type="submit" class="btn btn-dark btn-block btn-sm m-1">Открыть расписание</button>
        </a>
    </p>
{% endif %}

<div class="d-flex align-items-center" style="position: relative; height: 350px;">
    <img src="/static/images/lion.png" class="rounded" alt="" width="300" height="300" style="margin-right: 50px;">
    <h1 class="display-2">Клуб <br> единоборств <br> "Fire Lions" </h1>
    <div style="width: 200px; position: absolute; top: 0; right: 0;">
        <img src="/static/images/trainer.webp" alt="Тренер" width="200" height="auto" style="margin: 15px;">
        <p class="lead" style="margin: 15px;">Главный тренер клуба "Fire Lions"
            <a href="{% url 'backend:team' %}">
                <button type="submit" class="btn btn-dark btn-block btn-sm m-1">О тренере</button>
            </a>
        </p>
    </div>
</div>
    {% if latest_news %}
    <div style="background-color: orange; position: relative; z-index: 1; margin-top: 100px; padding: 10px; width: 100%;">
        <h3>Информация от Сен-сея</h3>
        <h3>{{ latest_news.title }}</h3>
        <p>{{ latest_news.content }}</p>
        <p>Published on: {{ latest_news.pub_date }}</p>
        <p>Author: {{ latest_news.author }}</p>
    </div>
    {% endif %}
<h3>Новости</h3>
{% for post in posts %}
    <li>
        {% if post.photo %}
            <p><img class="img-article-left thumb" src="{{post.photo.url}}"></p>
        {% endif %}
        <h2>{{post.title}}</h2>
        <p>{{post.content|linebreaks|truncatewords:50}}</p>
        <div class="clear"></div>
        <p style="text-align: right;">
            <a href="{{ post.get_absolute_url }}">
                <button type="submit" class="btn btn-dark btn-block btn-sm m-1">Читать запись</button>
            </a>
        </p>
        <hr>
    </li>
{% endfor %}
<div class="container-fluid my-carousel">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../static/images/1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../static/images/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../static/images/3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</div>
{% endblock %}