{% extends 'base.html' %}

{% block content %}


{% if message == "сегодня тренировка" %}
    <p style="text-align: right;">{{ user.username }}, {{ message }} в {{ time }} по адресу {{ address }}
        <a href="{% url 'backend:shedule' %}">
            <button type="submit" class="btn btn-dark btn-lg">Открыть расписание</button>
        </a>
    </p>
{% else %}
    <p style="text-align: right;">{{ user.username }}, {{ message }}
        <a href="{% url 'backend:shedule' %}">
            <button type="submit" class="btn btn-dark btn-lg">Открыть расписание</button>
        </a>
    </p>
{% endif %}
<img src="/static/images/lion.png" class="rounded float-left" alt="" width="300" height="300">
<h1 class="display-2">Клуб единоборств <br> "Fire Lions" </h1>
<h3>Новости</h3>
{% for post in posts %}
    <li>
        {% if post.photo %}
            <p><img class="img-article-left thumb" src="{{post.photo.url}}"></p>
        {% endif %}
        <h2>{{post.title}}</h2>
        <p>{{post.content|linebreaks|truncatewords:50}}</p>
        <div class="clear"></div>
        <p style="text-align: right;">
            <a href="{{ post.get_absolute_url }}">
                <button type="submit" class="btn btn-dark btn-lg">Читать запись</button>
            </a>
        </p>
        <hr>
    </li>
{% endfor %}
<div class="container-fluid my-carousel">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../static/images/1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../static/images/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../static/images/3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</div>
{% endblock %}