{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<div class="raz">
    <a class="btn btn-primary" href="#" role="button">Добавить</a>
<div>

    {% for field in form %}
    {{ field}}
    {% endfor %}
    <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                  Доб
              </button>
            </div>
<div class="glightbox">
    {% for p in page_obj %}
    <div class="img">
      {% if p.photo %}
          <a href="{{p.photo.url}}">
            <img src="{{p.photo.url}}" class="img-thumbnail" alt="image"/>
          </a>
      {% endif %}
    </div>
    {% endfor %}

</div>
{% include 'includes/paginator.html' %}

{% endblock %}
