{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<ul>
    {% for p in page_obj %}
    <li>
        {% if p.photo %}
            <p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
        {% endif %}
        <h2>{{p.title}}</h2>
        <p>{{p.content|linebreaks|truncatewords:50}}</p>
        <div class="clear"></div>
        <p style="text-align: right;">
            <a href="{{ p.get_absolute_url }}">
                <button type="submit" class="btn btn-dark btn-block btn-sm m-1">Читать запись</button>
            </a>
        </p>
        <hr>
    </li>
    {% endfor %}

    {% include 'includes/paginator.html' %}
</ul>

{% endblock %}