{% extends 'base.html' %}
<style>
        .image-container {
            display: flex;
            align-items: center;
        }
        .image {
            margin-right: 20px;
        }
        .image img {
            max-width: 100%;
            height: auto;
        }
        .text {
            font-size: 16px;
        }
    </style>
{% block content %}
<h1>{{ title }}</h1>

    <div class="image-with-text">
        <img src="/static/images/lions_rebranding.png" alt="Your Image" style="float: left;" width="200" height="200">
        <p>
            В далеком 1967 году в маленьком городке Храмовка возник клуб дзюдо “Flame Judo”.
        </p>

        <p>
            Его основателем был старый мастер дзюдо, по имени Хироши Такэда.
            Хироши был человеком с необычным характером и загадочным прошлым.
        </p>

        <p>
            Тайные тренировки: “Flame Judo” собирались в старой деревянной хижине на окраине города.
            Тренировки проходили в полной тишине, а Хироши учил своих учеников не только
            физическим навыкам, но и духовным принципам. Говорят, что он обладал способностью
            предсказывать ход боя и видеть будущее.
        </p>

        <p>
            Загадочные победы: “Flame Judo” участвовали в региональных и национальных
            соревнованиях. Их победы были всегда неожиданными. Хироши утверждал, что они
            находят внутренний огонь, который помогает им преодолевать любые трудности.
            Пропажа Хироши: Внезапно Хироши исчез. Никто не знает, куда он ушел. Но его наследие живет
            в клубе до сих пор. “Flame Judo” продолжают тренироваться, и каждый новый участник
            надеется разгадать тайны, которые остались после загадочного мастера.
        </p>
    </div>

<div class="image-container">
    <img src="/static/images/club1.png" alt="Image 1" width="300" height="300">
    <img src="/static/images/leon112.jpg" alt="Image 2" width="300" height="300">
    <img src="/static/images/club3.jpeg" alt="Image 3" width="300" height="300">
</div>


{% endblock %}
