{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<h1>Страница пользователя</h1>
    <div style="max-width: 600px; margin-left: 0; padding-left: 0;">
        <!-- Карточка с формой, выровнена влево -->
        <div class="card shadow-sm" style="text-align: left;">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" class="text-start">
                    {% csrf_token %}

                    <!-- Аватарка пользователя в форме, выровнена влево -->
                    <div class="mb-4">
                        <img class="rounded-circle account-img shadow" src="{{ user.profile.avatar.url }}"
                             alt="User Avatar" style="width: 75px; height: 75px; object-fit: cover; cursor: pointer;">
                    </div>

                    <!-- Поля формы, выровнены влево -->
                    <div class="mb-3">
                        <label class="form-label">Имя:</label>
                        {{ user_form.username }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email:</label>
                        {{ user_form.email }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Группа:</label>
                        {{ profile_form.age_group }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Сменить аватар:</label>
                        <!-- Скрываем стандартный элемент загрузки файла -->

                            <input type="file" id="avatarUpload" name="avatar" class="form-control d-none">
                            <label for="avatarUpload" class="btn btn-outline-secondary">
                                Выберите файл
                            </label>

                    </div>

                    <div class="mb-3">
                        <label class="form-label">О себе:</label>
                        {{ profile_form.bio }}
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'users:password_change_form' %}" class="text-decoration-none">Изменить пароль</a>
                    </div>

                    <!-- Кнопки формы -->
                    <div class="d-flex justify-content-start mt-4">
                        <button type="submit" class="btn btn-success me-2">Сохранить изменения</button>
                        <button type="reset" class="btn btn-outline-secondary">Сброс</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}